.contact_wrap
  position relative
  color black
  background-color color2

.contact_wrap textarea
  resize none

.contact_wrap
  textarea, input
    background-color color2
    color black
  input[type=submit]  	
    background-color color1
    color color2