$footer-height = 75px

.footer_wrap
  position absolute
  bottom 0
  width 100%
  height $footer-height
  padding-bottom 10px

.footer_main
  color color3
  position relative
  background-color color4
  height 100%
  text-align center
  border-radius 5px
  box-shadow 5px 5px 5px #000000
  p
    display inline-block
    margin 0
    vertical-align middle
    padding-right 170px
    padding-left 5px
  .twitter
    position absolute
    color white
    margin 20px    
    margin-right 10px
    right 0
    img
      margin-left 5px
      height 20px