$footer-height = 75px

.footer_wrap
  position absolute
  bottom 0
  width 100%
  height $footer-height

.footer_main
  position relative
  background-color color4
  height 50px
  top 15px
  border-radius 5px
  box-shadow 5px 5px 5px #000000
