$footer-height = 50px

.footer_wrap
  position absolute
  bottom 0
  width 100%
  height $footer-height

.footer_main
  position relative
  background-color color4
  height 100%
  margin-bottom 10px
  text-align center
  border-radius 5px
  box-shadow 5px 5px 5px #000000
  color color3
  
.footer_main p
  display inline-block
  margin 0
  vertical-align middle
