.header_wrap
  height 220px
  user-select none
  a:focus
    outline none

.header_main
  position relative
  top 75px
  background-color color4
  height 100px
  text-align center
  line-height 100px
  border-radius 5px
  box-shadow 5px 5px 5px black

.header_main.scroll
  z-index 100
  position fixed
  left 0
  top 0
  height 45px
  line-height 45px
  border-radius 0
  text-align left
  width 100%

.header_section-wrap
  position relative

.header_section-wrap.scroll
  position relative
  text-align center

.header_section
  position relative
  text-decoration none
  color color3
  font-size 30px
  margin 20px
  font-family Courier New, Arial, Tahoma
  font-weight 600px
  text-shadow 2px 2px 5px black

.header_section:focus
  color white

.header_section:hover
  color white
  top -1px
  text-shadow 6px 6px 5px black
  transition top 0.3s, text-shadow 0.3s

.header_photo
  position absolute
  top -50px
  left 60px
  z-index 101
  background-image url(/public/images/photo_ac200x200.jpeg)
  background-size cover
  display inline-block
  width 200px
  height 200px
  border-radius 125px

.header_photo.scroll
  width 40px
  height 40px
  left 5px
  top 3px

.header_title
  width 250px
  display inline-block
  position absolute
  color white
  font-size 30px
  font-family Lobster, cursive
  bottom -20px
  left -30px

.header_title.scroll
  font-size 23px
  left 50px
  bottom 5px
  line-height 35px

.header_nav
  position relative
  width 75%
  left 210px

.header_nav.scroll
  left 200px

.header_menu
  display none

.header_menu-icon
  display none


@media only screen and (max-width 960px)
  .header_nav
    display none

  .header_menu
    position relative
    display inline
    text-decoration none
    color color3
    font-size 50px
    font-family Courier New, Arial, Tahoma
    font-weight 600px
    text-shadow 2px 2px 5px black
    padding 2px
    left 110px
    top 2px
    cursor pointer

  .header_menu-icon
    position absolute
    display inline-block
    border solid 2px rgba(255, 255, 255, 0.5)
    border-radius 5px
    background-color rgba(255, 255, 255, 0.3)
    height 40px
    width 40px
    color color3
    font-size 30px
    text-shadow 2px 2px 5px black
    left 5px
    top 32px
    line-height 36px
    cursor pointer

  .header_menu-icon.scroll
    top 2px

  .header_photo.scroll
    left 60px
    
  .header_title.scroll
    width 175px

@media only screen and (max-width 480px)
  .header_menu
    display none

  .header_menu-icon.scroll
    top -56px

  .header_menu-icon
    top -215px


  .header_photo.scroll
    left 60px

  .header_photo
    position relative
    left 5px
    margin 0 auto
