.main_wrap
  position relative
  min-height 100%
  padding-bottom $footer-height
  margin 0 auto
  max-width 960px

.main_container
  background-color color0
  min-height 100%
  padding 10px 0
  text-align center
  //box-shadow 5px 5px 5px #000000
