.project-display_wrap
  position relative
  color black
  text-align
  h2
    margin 20px
  hr
    border-color black
  p    
    text-align justify
  img
    max-width 100%

.project-display_wrap.even
  background-color color2
  
.project-display_wrap.odd
  background-color color3

.project-display_body
  margin 10px
  

.project-display_wrap img[alt="main_image"]
  position relative
  max-height 400px  
  max-width 400px
  margin 10px
  
.project-display_wrap.even img[alt="main_image"]
  float left
  
.project-display_wrap.odd img[alt="main_image"]
  float right