.resume_wrap
  position relative

.resume_credit
  text-align left
  margin-left 5px
  font-size 0.8em
  background-color white
  
 .resume_pdf
 	position absolute
 	z-index 2
 	right 40px
 	top 10px
 	font-size 40px
 	color black
 	a
 		color black
 	a:hover 
 		text-decoration none
