@import 'resume.css'
@import 'nib'
@import 'colors'
@import 'components/*'


*
  box-sizing border-box


html, body
  margin 0
  padding 0
  width 100%
  height 100%
  background-color color0
  font-family sans-serif
