/*
color0 background
color1 unused
color2 content-background 1
color3 content-background 2
color4 header-background
*/
//*
color0 = #32475c
color1 = #227C74
color2 = #EEEEEE
color3 = #FFFFFF
color4 = #227c74
//*/
/*
color0 = #253E66
color2 = #C29D4E
color3 = #EF6555
color4 = #E3DFD7
//*/
/*
color0 = #404040
color1 = #847C6A
color4 = #A68D5D
color2 = #818286
color3 = #BCBDC1
//*/